#ak-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100000;
    background: #fff;
    img {
        position: fixed;
        top: 50%;
        margin-top: -75px;
        margin-left: -75px;
    }
}